<h1>Temps</h1>
<h2>Pick a date</h2>

<%= form_with url: :temps, method: :get, local: true do |form| %>
  <%= form.date_field :date_selected, min: @min_date, max: @max_date %>
  <%= form.submit "Get Temps" %>
<% end %>

<%= area_chart @readings.group_by_minute(:date_time, n: 15).maximum(:temp), min: @readings.minimum("temp"), max: @readings.maximum("temp") %>
<%= line_chart @readings.group_by_hour(:date_time).average(:temp), min: @readings.minimum("temp"), max: @readings.maximum("temp") %>
<p>The lastest reading:</p>
<%= @latest_reading.temp %>
<%= will_paginate @readings %>

<table class="table table-light table-striped">
  <tr>
    <th scope="col">Sensor</th>
    <th scope="col">Temperature</th>
    <th scope="col">Date & Time</th>
  </tr>

  <% @readings.each do |reading| %>
    <tr>
      <td><%= reading.sensor_id %></td>
      <td><%= reading.temp %></td>
      <td><%= reading.date_time %></td>
    </tr>
  <% end %>

</table>
